.title { 
  display: inline;
  position: relative;
  left: 40%;
}


.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  bottom: 0;
  margin: auto 0;
  /* top: calc(50% - 5px); */
  width: 10px;
  height: 10px;
  border-radius: 20%;
  background-color: #001aff;
}

.title::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(100% + 5px);
  bottom: 0;
  margin: auto 0;
  /* top: calc(50% - 5px); */
  width: 10px;
  height: 10px;
  border-radius: 20%;
  background-color: #ff0000;
} 